{% extends "main/homepage.html" %}

{% block content %}
    <div class="container">
        <h1 class="mt-2">Stwórz nową paczkę</h1>
        <hr class="mt-0 mb-4">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_name">{{ form.name.label }}</label>
                <br>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="id_weight">{{ form.weight.label }}</label>
                <br>
                {{ form.weight }}
            </div>
            <div class="form-group">
                <label for="id_width">{{ form.width.label }}</label>
                <br>
                {{ form.width }}
            </div>
            <div class="form-group">
                <label for="id_lenght">{{ form.lenght.label }}</label>
                <br>
                {{ form.lenght }}
            </div>
            <div class="form-group">
                <label for="id_height">{{ form.height.label }}</label>
                <br>
                {{ form.height }}
            </div>
            <button type="submit" class="btn btn-primary">Stwórz paczkę</button>
        </form>
    </div>
{% endblock %}
