{% load static %}
<!DOCTYPE html>
<html lang="pl" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Postio | Strona główna</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    {# Boxicons CDN link #}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="sidebar">
    <div class="logo-details">
        <i class='bx bx-package'></i>
        <span class="logo_name">PostIo</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/onas-uzupełnij/">
                <i class="bx bx-grid-alt"></i>
                <span class="link_name">O nas</span>
            </a>
        </li>
        <li>
            <a href="/oferta-uzupełnij/">
                <i class="bx bx-grid-alt"></i>
                <span class="link_name">Nasza oferta</span>
            </a>
        </li>
        <li>
            <a href="/regulamin-uzupełnij/">
                <i class="bx bx-grid-alt"></i>
                <span class="link_name">Regulamin</span>
            </a>
        </li>
        <li>
            <a href="/kontakt-uzupełnij/">
                <i class="bx bx-grid-alt"></i>
                <span class="link_name">Kontakt</span>
            </a>
        </li>
        <li>
            <a href="/login/">
                <i class="bx bx-grid-alt"></i>
                <span class="link_name">Zaloguj się</span>
            </a>
        </li>
        <li>
            <a href="/register/">
                <i class="bx bx-grid-alt"></i>
                <span class="link_name">Zarejestruj się</span>
            </a>
        </li>
        <li>
            <div class="icon-link">
                <a href=""
            </div>
        </li>
    </ul>
</div>
</body>
</html>
