{% extends "main/homepage.html" %}

{% block content %}
<h2>Profil użytkownika</h2>
<form method="post">
    {% csrf_token %}
    <p>Nazwa użytkownika:<br> <input type="text" name="username" value="{{ user.username }}"></p>
    <p>Imię:<br> <input type="text" name="first_name" value="{{ user.first_name }}"></p>
    <p>Nazwisko:<br> <input type="text" name="last_name" value="{{ user.last_name }}"></p>
    <p>Email:<br> <input type="email" name="email" value="{{ user.email }}"></p>
    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
</form>
<br>
<h3>Zmień hasło</h3>
<form method="post" id="passwordChangeForm">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_old_password">Stare hasło</label>
        <input type="password" name="old_password" class="form-control" id="id_old_password">
        <button type="button" class="btn btn-secondary show-password" data-target="id_old_password">Pokaż</button>
    </div>
    <div class="form-group">
        <label for="id_new_password1">Nowe hasło</label>
        <input type="password" name="new_password1" class="form-control" id="id_new_password1">
        <button type="button" class="btn btn-secondary show-password" data-target="id_new_password1">Pokaż</button>
    </div>
    <div class="form-group">
        <label for="id_new_password2">Potwierdź nowe hasło</label>
        <input type="password" name="new_password2" class="form-control" id="id_new_password2">
        <button type="button" class="btn btn-secondary show-password" data-target="id_new_password2">Pokaż</button>
    </div>
    <button type="submit" class="btn btn-primary">Zmień hasło</button>
</form>

{% endblock %}

{% block script %}
<script>
(document).ready(function() {
    ('.show-password').click(function() {
        var target = $(this).data('target');
        var input = $('#' + target);
        var type = input.attr('type') === 'password' ? 'text' : 'password';
        input.attr('type', type);
        $(this).text(type === 'password' ? 'Pokaż' : 'Ukryj');
    });
});
</script>
{% endblock %}
