{% extends "main/homepage.html" %}

{% block title %}
Konto Użytkownika
{% endblock %}

<!Dostype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil użytkownika</title>
    <style>
        .password-container {
        position: relative;
        display: inline-block;
        margin-bottom: 10px;
        }

        .password-container button {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor:pointer;
        background-color: #f0f0f0;
        border: none;
        padding: 5px 10px;
        }

        .password-container input[type="password"],
        .password-container input[type="text"] {
            padding-right: 60px;
        }
    </style>
</head>

{% block content %}
<h2>Profil użytkownika <br> {{ user.username }}</h2>
<form method="post" class="form-group">
    {% csrf_token %}
    <div class="form-group">
        <label>Użytkownik</label>
        <br>
        <p><input type="text" name="username" value="{{ user.username }}"></p>
        {{ user_form.username.help_text|safe }}
        {{ user_form.username.errors }}
    </div>
    <div class="form-group">
        <label>Imię</label>
        <br>
        {{ user_form.first_name }}
        {{ user_form.first_name.errors }}
    </div>
    <div class="form-group">
        <label>Nazwisko</label>
        <br>
        {{ user_form.last_name }}
        {{ user_form.last_name.errors }}
    </div>
    <div class="form-group">
        <label>Adres email</label>
        <br>
        {{ user_form.email }}
        {{ user_form.email.errors }}
    </div>
    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
</form>
<br>
<h3>Zmień hasło</h3>
<form method="post" id="passwordChangeForm" class="form-group">
    {% csrf_token %}
    <div class="form-group">
        <label>Stare Hasło</label>
        <br>
        <div class="input-group">
            {{ password_form.old_password }}
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="toggleOldPassword">Pokaż</button>
            </div>
        </div>
        {{ password_form.old_password.errors }}
    </div>
    <div class="form-group">
        <label>Nowe hasło</label>
        <br>
        <div class="input-group">
            <input type="password" name="new_password1" required id="id_new_password1" autocomplete="new-password">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="toggleNewPassword1">Pokaż</button>
            </div>
        </div>
        {{ password_form.new_password1.help_text|safe }}
        {{ password_form.new_password1.errors }}
    </div>
    <div class="form-group">
        <label>Powtórz hasło</label>
        <br>
        <div class="input-group">
            <input type="password" name="new_password2" required id="id_new_password2" autocomplete="new-password">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="toggleNewPassword2">Pokaż</button>
            </div>
        </div>
        {{ password_form.new_password2.help_text|safe }}
        {{ password_form.new_password2.errors }}
    </div>
    <button type="submit" class="btn btn-primary">Zmień hasło</button>
</form>

{% endblock %}

{% block script %}
<script>
    function togglePasswordVisibility(passwordFieldId, toggleButton) {
        var passwordInput = document.getElementById(passwordFieldId);
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            toggleButton.textContent = 'Ukryj';
        } else {
            passwordInput.type = 'password';
            toggleButton.textContent = 'Pokaż';
        }
    }
</script>
{% endblock %}
